---
layout: default
---

{% for item in site.categories.articles limit:1 offset:0 %}
  <div class="intro">
    <div class="title">{{item.title}}</div>
    <div class="abstract">{{item.abstract}}</div>
  </div>

  <div class="article-wrapper">
    <div class="help post-content">
      {{ item.content }}
    </div>
  </div>
{% endfor %}

<div class="article-navigation" id="montainer">
  {% for item in site.categories.articles limit:40 offset:0 %}
    <a class="article-link item {{item.columns}}" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      <strong>{{item.title}}</strong></br>{{item.abstract}}
    </a>
  {% endfor %}
</div>

