---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Kunst Kernewek</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/kk.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Kunst Kernewek</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      # # # For more info contact press@kunstkernewek.com
    </div>
  </div> 
</body>
</html>
