---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Kunst Kernewek</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/kk.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Kunst Kerenewek</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>
<div class="article-navigation" id="montainer">
  {% for item in site.categories.articles limit:40 offset:0 %}
    <a class="article-link item {{item.columns}}" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      <strong>{{item.title}}</strong></br>{{item.abstract}}
    </a>
  {% endfor %}
</div>
  <div id='footer'>
    <div class="footer-content">
      # # # For more info contact press@kunstkernewek.com
    </div>
  </div> 
</body>
</html>
