---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Kunst Kernewek Blog</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Kunst Kerenewek</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Site built with <a href="http://github.com/prose/bootstrap">Prose.io on GitHub</a>
    </div>
  </div> 
  <script src="https://raw.github.com/desandro/vanilla-masonry/master/masonry.min.js"></script>
  <script>
  window.onload = function() {
    var wall = new Masonry( document.getElementById('montainer'), {
      columnWidth: 130,
      isFitWidth: true
    });
  };
</script>
</body>
</html>
